<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript"
            src="../Script/angular.min.js">
    </script>
</head>
<body ng-app="myapp" ng-controller="contr">

     <div>
         {{a}}{{b}}
     </div>
     <div ng-if="!a">
         <input type="text" ng-model="$parent.b" />
     </div>
     <script type="text/javascript">
         var app=angular.module("myapp",[]);
         app.controller("contr",function($scope) {
               $scope.a=false;
               $scope.b=false;
         })


     </script>
</body>
</html>